@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(233, 223, 223)
}

.center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.subtitle {
    font-size: 20px;
    text-align: center;
}


.title-container {
    width: 60%;
    height: 20%;
}

.input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.row {
    display: flex;
    gap: 0.5rem;
}

#input {
    width: 2px;
    height: 2px;
    border: none;
    font-size: 54px;
    text-align: center;
    background-color: rgb(243, 235, 235);
    z-index: 1;
    opacity: 0;
}

.boxs {
    width: 60px;
    height: 60px;
    border: 2px solid grey;
    margin: 0 5px;
    background-color: rgb(243, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
}

.btn-layout {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.character-btn {
    width: 30px;
    height: 45px;
    border: 2px solid black;
    background-color: rgb(243, 235, 235);
    cursor: pointer;
    font-size: 24px;
    margin: 2px 5px;
}

#end {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

#end-title {
    font-size: 42px;
    text-align: center;
    margin-top: 10rem;
    font-weight: bold;
}

#word {
    text-align: center;
    font-size: 24px;
}

.restart {
    width: 170px;
    height: 50px;
    background-color: grey;
    border: 2px solid black;
    cursor: pointer;
    color: white;
}

.restart:hover {
    background-color: darkgrey;
}

button {
    font-size: 24px;
    
}

@media only screen and (max-width: 414px) {
    .boxs {
        width: 40px;
        height: 40px;
        margin: 0 5px;
        font-size: 18px;
    }

    .btn-layout {
        gap: 0.5rem;
    }
}